@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #f2f2f2;
}

.erro-page{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.link-erro{
  text-decoration: none;
  background-color: #2196f3;
  padding: 20px 30px;
  border-radius: 20px;
  color: #000;
  font-weight: 800;
  transition: .3s;
}

.link-erro:hover{
  background-color: #81c9fa;
}

.box-navbar{
  width: 100%;
  height: 110px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, .30), rgba(0, 0, 0, .30));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: absolute;
}

.box-navbar h1{
  font-size: 50px;
}

.container-home{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right), rgba(0, 0, 0, .59), rgba(0, 0, 0, .50);
  background-image: url("./assets/home-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-home h1, h2{
  color: #fff;
  font-size: 3.5rem;
  padding: 10px 0;
}

.container-home span{
  color: #fff;
  font-size: 1.5rem;
}

.container-about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.img{
  justify-content: center;
  align-items: center;
  display: flex;
}

.img-about{
  margin-right: 50px;
  width: 400px;
}

.about-text{
  width: 600px;
  font-size: 17px;
}

.about-text h2{
  color: #2196f3;
  position: relative;
  bottom: 30px;
}

.about-text p{
  line-height: 30px;
}

.about-text .link{
  text-decoration: none;
  background-color: #2196f3;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.container-footer{
  background-color: #2196f3;
  width: 100%;
  height: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-icon .link{
  text-decoration: none;
  margin-right: 20px;
  font-size: 2rem;
  color: #fff;
}

.container-register{
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('../src/assets/register-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-register{
  background-color: transparent;
  border: 2px solid rgba(255, 255 , 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: 430px;
  border-radius: 10px;
  padding: 30px 40px;
}

.body-register h2{
  text-align: center;
  font-size: 2rem;
  color: #2196f3;
}

.box-input{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-input .name{
  margin-bottom: 20px;
}

.box-input input{
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgba(255, 255 , 255, .2);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.box-input input::placeholder{
  color: #fff;
  padding-left: 7px;
}

.btn{
  padding: 20px;
}

.body-register button{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-weight: 600;
}

.body-register .link{
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  padding: 10px 20px;
  border-radius: 10px;
}

.body-register .link:hover{
  background-color: #81c9fa;
}


@media (max-width: 800px){

  .container-home h1, h2{
    font-size: 2.5em;
  }

  .container-about{
    flex-direction: column;
    text-align: center;
  }

  .img-about{
    margin-left: 0;
  }

  .about-text{
    margin-top: 60px;
  }

  .about-text p{
    font-size: 15px;
    line-height: 21px;
  }

  .box-input input::placeholder{
    font-size: 20px;
  }

  .box-input input{
    font-size: 20px;
  }

  .body-register{
    width: 500px;
    padding: 40px 50px;
  }

  .body-register button{
    font-size: 20px;
  }

  .body-register .link{
    font-size: 15px;
    font-weight: bold;
    background-color: #2196f3;
    padding: 10px 20px;
    border-radius: 10px;
  }
}